* {
    box-sizing: border-box;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.links {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.links a {
    border: 3px solid black;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 80vh;
    width: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 80%;
    margin: 0;
    padding: 0;
    align-content: center;
}

table {
    display: none;
}

.display {
    display: block;
}